doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/normalized.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/newStyles.css')
	body
		header
			a(href='#', title='georgian college logo')
				img(src='/images/georgian-college-logo-2014.png', alt='georgian college logo')
		
	block content
	footer.logo
		p 
			img(src='/images/Ford_logo.png', alt='Ford Logo')
		p
			img(src='/images/PowerStream-Logo.png', alt='Power Stream Logo')
		
	footer.link
		ul
			li Copyright© 2015 All Rights Reserved
			